<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/">
            <span role="img" aria-label="Home" title="Home">🏠</span>
        </a> | 
        <a href="/about">
            <span role="img" aria-label="About" title="About">😀</span>
        </a> | 
        <a href="{% url 'posts:list' %}">
            <span role="img" aria-label="Posts" title="Posts">📰</span>
        </a> | 
        <a href="{% url 'users:register' %}">
            <span role="img" aria-label="User Registration" title="User Registration">🚀</span>
        </a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>